*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.main{
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section-1{
    height: 60%;
    display: flex;
    margin-bottom: 15px;
}

.section-2{
    height: 40%;
    display: flex;
}

.item-flex-end{
    display: flex;
    align-items: flex-end;
}

.width-40{
    width: 40%;
    height: 100%;
    
}

.holder{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.color-box{
    width: 20%;
    background-color: palevioletred;
}

.writings-1{
    width: 60%;
}


.writings-2{
    width: 60%;
    margin: auto;
}

.width-60{
    width: 60%;
}

.justify-content-ending{
    display: flex;
    align-items: end;

}


.img-1{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hidden{
    overflow: hidden;
}

.justify-flex-end{
    display: flex;
    justify-content: flex-end;
}

.img-2{
    width: 40%;
    cursor: pointer;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-1{
    padding: 12px 20px;
    background-color: palevioletred;
    color: white;
    border: none;
    cursor: pointer;
}

.button-2{
    padding: 12px 20px;
    border: 2px solid palevioletred;
    color: palevioletred;
    background-color: transparent;
    cursor: pointer;
}

.button-1:hover{
    background-color: burlywood;
}

.button-2:hover{
    background-color: burlywood;
    color: white;
}


.light-text{
    color: rgb(219, 66, 117);
}


.dark-text{
    color: rgb(110, 44, 66);
}

.full{
    height: 100%;
    width: 100%;
}

.large-text{
    font-size: 35px;
}

.med-text{
    font-size: 15px;
}